/*
* 画面のスタイルシート
*/
body{
  background: linear-gradient(180deg,gray 0%,gray 488px,white 488px,white 100%);
}

  main{
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
  }

  img{
   margin: 0px;
   width: 30%;
   background-color: white;
  }

  main div {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 5px;
  }
  .left-icon {
    float: left;
    width: 5%;
    background-color: white;
    text-align: center;
  }
  
  .right-icon{
    float: right;
    width: 5%; 
    background-color: white;
    text-align: center;
  }

  .block-name{
    list-style: none;
    height: 400px;
    width: 630px;
    float: left;
    margin-top: 0;
    font-weight: 900;
    font-size: 150px;
    color: white;
  }
  .photo{
    height: 400px;
    width: 200%;
  }

.name2{
  color: white;
  font-size: 20px;
  list-style: none;
  margin-left: 50px;
}

/*Aboutのスタイルシート*/

.box-About{
  margin: 50px 0;
  margin-left: 30px;
}

.About{
  width: 630px;
  font-size: 25px;
}

.pc{
  margin-left: 685px;
  margin-top: -110px;
  width: 180%;
}

.text{
  margin-top: -360px;
  margin-left: 30px;
}

.icon-list{
  list-style: none;
  width: 100%;
  max-width: 247px;
  margin-left: 30px;
  padding: 0;
  display: flex;
  margin-bottom: 99px;
}
/*
Project
*/

.Project-box{
  height: auto;
  background-color:  gray;
}

.project{
  color: white;
  padding: 40px;
}

.twitter{
  float: left;
  width: 500px;
  margin-left: 40px;
  
}

.twitter-box{
  float: right
}

.twitter-p{
  background-color: gray;
  color: white;
  font-weight: lighter;
  font-size: 40px;
  
}

.text3{
  color: white;
}
.Email{
  color: white;
}
.link{
  
}
.link a.website{
  background-color: white;padding: 5px 20px;margin-right: 10px;font-size: 15px;text-decoration: none;color: #000;
}
.link a.github{
  background-color: gray;padding: 5px 20px;margin-right: 10px;font-size: 15px;text-decoration: none;color: #000;
  border: 1px solid white;
}
